.search-container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.search-bar {
  width: 50%;
  display: inline-block;
  margin: auto;
}

.search-button {
  width: 100px;
  height: 50px;
  background-color: gray;
  margin: auto;
}
